.profile
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 80%;
  width: auto;
  height: 200px;
  border: solid 5px white;
}

.myB
{
  margin-top: 20px;
  display: block;
  margin-left:auto;
  margin-right:auto;
  width: 100px;
}

.card
{
  border: none;
}

.rel
{
  padding-top: 50px;
  padding-bottom: 100px;
}
